{% extends "siteTemplate.html" %}

{% block content %}
<form action="{{ url_for('login') }}" method="post">
	{{ form.csrf_token }}

	{{ form.username(placeholder="Username") }}
	{{ form.password(placeholder="Password") }}

	{{ form.rememberMe.label }}
	{{ form.rememberMe }}

	{% for field in [form.username, form.password] %}
		{% for error in field.errors %}
			<p>{{ error }}</p>
		{% endfor %}
	{% endfor %}

	<button class="btn btn-primary w-auto" type="submit">Log In</button>
</form>
{% endblock %}