{% extends "siteTemplate.html" %}

{% block main %}

<form action="{{ url_for('register') }}" method="post">
	{{ form.csrf_token }}
	<div class="mb-3">
		{{ form.username(placeholder="Username", class="form-control mx-auto w-auto") }}
		{% for error in form.username.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
	</div>
	<div class="mb-3">
		{{ form.password(placeholder="Password", class="form-control mx-auto w-auto") }}
		{% for error in form.password.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
	</div>
	<div class="mb-3">
		{{ form.confirm(placeholder="Re-enter password", class="form-control mx-auto w-auto") }}
		{% for error in form.confirm.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
	</div>
	<div class="col text-center">
		{{ form.rememberMe(class="form-check-input") }}
		{{ form.rememberMe.label(class="form-check-label") }}
	</div>
	<div class="col text-center">
		<button class="btn btn-primary w-auto" type="submit">Register</button>
	</div>
</form>

{% endblock %}