{% extends "siteTemplate.html" %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-auto text-center">
		<form action="{{ url_for('register') }}" method="post">
			{{ form.csrf_token }}

			{{ form.username(placeholder="Username", class="form-control mb-1") }}
			{{ form.password(placeholder="Password", class="form-control mb-1") }}
			{{ form.confirm(placeholder="Re-enter password", class="form-control mb-1") }}

			<!--Using this solution because Bootstrap docs use cols to break up form segments,-->
			<!--and because wrapping form-check in d-flex and using justify-content-center-->
			<!--messes with Bootstrap's native form-check spacing-->
			<div class="col-12">
				<div class="form-check form-check-inline">
					{{ form.rememberMe(class="form-check-input") }}
					{{ form.rememberMe.label(class="form-check-label") }}
				</div>
			</div>

			{% for field in [form.username, form.password, form.confirm] %}
				{% for error in field.errors %}
					<p>{{ error }}</p>
				{% endfor %}
			{% endfor %}
			
			<button class="btn btn-primary" type="submit">Register</button>
		</form>
	</div>
</div>
{% endblock %}