{% extends "siteTemplate.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/search.js') }}" defer></script>
{% endblock %}

{% block legend %}
<h2>Artist Pages</h2>
<h4>Use the search bar below to find your favorite author's page!</h4>
{% endblock %}

{% block content %}
<form action="{{ url_for('search') }}" method="get">
    <div class="row align-items-center mb-2 justify-content-center justify-content-md-start">
        <div class="col-auto">
            <input autocomplete="off" autofocus class="form-control" name="q" type="search">
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary btn-sm" type="submit">Search</button>
        </div>
    </div>
</form>

<ul id="jsSearch">
    {% for subName in subNames %}
    <li><a href="{{ url_for('subdomain.index', subName=subName) }}">{{ subName }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
