{% extends "siteTemplate.html" %}

{% block main %}

<h3>Artist Pages</h3>
<h4>Use the search bar below to find your favorite author's page!</h4>

<form action="{{ url_for('search') }}" method="get">
    <input autocomplete="off" autofocus name="q" type="search">
    <button type="submit">Search</button>
</form>
<ul id="jsSearch">
    {% for pagename in pagenames %}
    <li><a href="/r/{{ pagename }}">{{ pagename }}</a></li>
    {% endfor %}
</ul>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>

{% endblock %}
