{% extends "acctTemplate.html" %}

{% block head %}
	{% include "CDNs/DataTables-Head.html" %}
{% endblock %}

{% block legend %}
<h3>Subdomain Settings</h3>
{% endblock %}

{% block content %}
<form action="{{ url_for('.subdomainSettings') }}" method="post">
	{{ form.csrf_token }}
	{% if authreqBool %}
	<fieldset>
		{% include "modules/ChangePass.html" %}
	</fieldset>
	{% endif %}

	<fieldset>
		<legend>Authentication settings</legend>
		
		{{ form.setAuth.label }}
		{% if authreqBool %}
		{{ form.setAuth(checked=True, required=False) }}
		{% else %}
		{{ form.setAuth(required=False) }}
		{% endif %}

		{% for error in form.setAuth.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
	</fieldset>

	<button class="btn btn-primary w-auto" type="submit">Submit</button>
</form>

<hr>

<!--Table of one's works wherein one can add modify and delete-->
<h3 class="col text-center">Works</h3>
<form method="post">
	<table class="table table-hover" id="dataTable">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Title</th>
				<th scope="col">Content</th>
				<th scope="col">Genre</th>
			</tr>
		</thead>
		<tbody>
			{% for work in works %}
			<tr>
				<th scope="row">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="workID" value="{{ work['id'] }}">
					</div>
				</th>
				<td>{{ work['title'] }}</td>
				<td>{{ work['content'] }}</td>
				<td>{{ work['genreString'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-success w-auto" formaction="{{ url_for('.subdomainTextAdd') }}"
			value="New" type="submit" name="workAction">
		Add
	</button>
	<button class="btn btn-warning w-auto" formaction="{{ url_for('.subdomainTextEdit') }}"
			value="Modify" type="submit" name="workAction">
		Modify
	</button>
	<button class="btn btn-danger w-auto" formaction="{{ url_for('.subdomainTextDelete') }}"
			value="Delete" type="submit" name="workAction">
		Delete
	</button>
</form>
{% endblock %}

{% block jQuery %}
	{% include "CDNs/jQuery.html" %}
	{% include "CDNs/DataTables-Foot.html" %}
{% endblock %}