{% extends "acctTemplate.html" %}

{% block head %}
	{% include "CDNs/jQuery.html" %}
	{% include "CDNs/DataTables.html" %}
{% endblock %}

{% block main %}

<h3 class="col text-center">Subdomain Settings</h3>
<form action="{{ url_for('account.subdomainSettings') }}" method="post">
	{{ form.csrf_token }}
	{% if authreqBool %}
	<h5>Change password</h5>
	<div class="mb-3">
		{{ form.oldpass(placeholder="Old password", class="form-control w-auto", required=False) }}
	</div>
	<div class="mb-3">
		{{ form.newpass(placeholder="New password", class="form-control w-auto", required=False) }}
	</div>
	<div class="mb-3">
		{{ form.confirm(placeholder="Re-enter password", class="form-control w-auto", required=False) }}
	</div>
	<div class="mb-3">
		{% for error in form.oldpass.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
		{% for error in form.newpass.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
		{% for error in form.confirm.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
		{% if passErrorMsg is not none %}
		<p class="errorMessage">{{ passErrorMsg }}</p>
		{% endif %}
	</div>
	{% endif %}

	<h5>Authentication settings</h5>
	<div class="form-check form-switch form-check-inline">
		{% if authreqBool %}
		{{ form.setauth(class="form-check-input", checked=True, required=False) }}
		{% else %}
		{{ form.setauth(class="form-check-input", required=False) }}
		{% endif %}
		{{ form.setauth.label(class="form-check-label") }}
	</div>
	<div class="mb-3">
		{% for error in form.setauth.errors %}
		<p class="errorMessage">{{ error }}</p>
		{% endfor %}
	</div>

	<div class="col text-center">
		<button class="btn btn-primary w-auto" type="submit">Submit</button>
	</div>
</form>

<hr>

<!--Table of one's works wherein one can manage adding modifying and deleting-->
<h3 class="col text-center">Works</h3>
<form method="post">
	<table class="table table-hover" id="dataTable">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Title</th>
				<th scope="col">Content</th>
				<th scope="col">Genre</th>
			</tr>
		</thead>
		<tbody>
			{% for work in works %}
			<tr>
				<th scope="row">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="workID" value="{{ work['id'] }}">
					</div>
				</th>
				<td>{{ work['title'] }}</td>
				<td>{{ work['content'] }}</td>
				<td>{{ work['genreString'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="col text-center">
		<button class="btn btn-success w-auto" formaction="{{ url_for('account.subdomainTextAdd') }}"
				value="New" type="submit" name="workAction">
			Add
		</button>
		<button class="btn btn-warning w-auto" formaction="{{ url_for('account.subdomainTextEdit') }}"
				value="Modify" type="submit" name="workAction">
			Modify
		</button>
		<button class="btn btn-danger w-auto" formaction="{{ url_for('account.subdomainTextDelete') }}"
				value="Delete" type="submit" name="workAction">
			Delete
		</button>
	</div>
</form>

<script src="{{ url_for('static', filename='js/DataTables.js') }}"></script>

{% endblock %}