{% extends "acctTemplate.html" %}

{% block head %}
	{% include "CDNs/EasyMDE.html" %}
{% endblock %}

{% block content %}

<h5>Upload a text</h5>
<form action="{{ url_for('.subdomainTextAdd') }}" method=post enctype=multipart/form-data>
	{{ uploadForm.csrf_token }}
	{{ uploadForm.upload }}
	<button class="btn btn-secondary btn-sm" type="submit">Render</button>
	{% for error in uploadForm.upload.errors %}
		<p>{{ error }}</p>
	{% endfor %}
</form>

<form action="{{ url_for('.subdomainTextAdd') }}" method="post">
	{{ form.csrf_token }}
	{% include "modules/WorkMod.html" %}
</form>

{% endblock %}