{% extends "acctTemplate.html" %}

{% block legend %}
<h3>Summary</h3>
{% endblock %}

{% block content %}
<!--Table of static user data-->
<table class="table">
	<thead>
		<tr>
			<th class="text-center" colspan="4">Details</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		<tr>
			<th class="col-2" scope="row">Username:</th>
			<td class="col-2">{{ current_user.username }}</td>
		</tr>
		{% if subdomain is not none %}
		<tr>
			<th class="col-2" scope="row">Subdomain:</th>
			<td class="col-2">{{ subdomain.name }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
{% endblock %}