{% extends "acctTemplate.html" %}

{% block legend %}
<h3>Summary</h3>
{% endblock %}

{% block content %}
<!--Table of static user data-->
<div class="row justify-content-center">
	<div class="col-10 col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th class="text-center" colspan="2" scope="rowgroup">Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Username:</th>
					<td>{{ current_user.username }}</td>
				</tr>
				{% if subdomain is not none %}
				<tr>
					<th scope="row">Subdomain:</th>
					<td>{{ subdomain.name }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}