{% extends "subTemplate.html" %}

{% block legend %}
<h2>Authentication Required</h2>
{% endblock %}

{% block content %}
<form action="{{ request.path }}" method="POST">
	{{ form.csrf_token }}
	<label for="subdomainpassword">Enter {{ subName }}'s password to access their works.</label>
	{{ form.password(placeholder="Password", id="subdomainPassword") }}
	{% for error in form.password.errors %}
	<p class="errorMessage">{{ error }}</p>
	{% endfor %}
	{% if errortext is not none %}
	<p class="errorMessage">{{ errortext }}</p>
	{% endif %}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}