{% extends "subTemplate.html" %}

{% block legend %}
<h2>About Me</h2>
{% endblock %}

{% block content %}

<div class="row align-items-center mb-3 mt-md-3">
	<div class="col-12 col-md-6">
		<div class="row justify-content-center">
			<div class="col-auto">
				{{ htmlAboutme | safe }}
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 text-center">
		{% if hasphoto %}
		<!--Using inline CSS for just this item since it's the only custom CSS I need atm-->
		<img src="{{ url_for('static', filename='media/'+subName+'.jpeg') }}" 
			alt="Artist photo" style="max-height: 500px" class="img-fluid">
		{% endif %}
	</div>
</div>

{% endblock %}