{% extends "subTemplate.html" %}

{% block legend %}
<h2>Authentication Required</h2>
{% endblock %}

{% block content %}
<form action="{{ request.path }}" method="POST">
	{{ form.csrf_token }}

	<div class="row justify-content-center text-center">
		<div class="col-12">
			<label for="subdomainPassword" class="form-label">
				Enter {{ subName }}'s password to access their works.
			</label>
		</div>
	
		<div class="col-auto">
			{{ form.password(placeholder="Password", id="subdomainPassword", class="form-control mb-3") }}

			{% for error in form.password.errors %}
				<p class="errorMessage">{{ error }}</p>
			{% endfor %}
			{% if errorText is not none %}
				<p class="errorMessage">{{ errorText }}</p>
			{% endif %}

			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
{% endblock %}