{% extends "subTemplate.html" %}

{% block legend %}
<h2>A collection of my writing</h2>
{% endblock %}

{% block content %}
<p>
    This website contains texts for a variety of my writing.
</p>
<p>
    Work can be accessed using the Work Index link in the sidebar.<br/>
    This homepage can be reached by clicking the hyperlink at the top of each page. <br/> 
    The Artists for Artists homepage can be reached using the button at the bottom of the sidebar.
</p>
<p>
    Happy reading!
</p>
{% endblock %}